$rhddx-color-red: #ee0000 !default;
$rhddx-color-red-dark: #c00;
$rhddx-color-black-900: #151515 !default;
$rhddx-color-black-850: #2a3035 !default;
$rhddx-color-white: #fff !default;
$rhddx-color-grey: #ddd !default;
$rhddx-color-grey-light: #f0f0f0 !default;
$rhddx-color-gold: #ffbf00;
$rhddx-color-blue: #0040d5;
$rhddx-color-blue-light: #73bcf7;