:root {
  --rhddx-c-label--BackgroundColor-released: #{$rhddx-color-blue};
  --rhddx-c-label--BackgroundColor-unreleased: #{$rhddx-color-gold};
}
.rhddx {
  .pf-c-label {
    &.label-released {
      --pf-c-label--Color: #f8fcff;
      --pf-c-label--BackgroundColor: var(--rhddx-c-label--BackgroundColor-released);
    }
    &.label-unreleased {
      --pf-c-label--Color: var(--rhddx-global--Color--100);
      --pf-c-label--BackgroundColor: var(--rhddx-c-label--BackgroundColor-unreleased);
    }
  }
}
