.rhddx-c-missing-code {
  .hero__text {
    max-width: 600px;
  }
  .text-reveal {
    span {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--rhddx-global--Color--white);
        transform-origin: left;
        transform: scale(1, 1);
      }
      &:after {
      content: "\A";
      white-space: pre;
      }
      @for $i from 1 through 5 {
        &:nth-of-type(#{$i}) {
          &:before {
            $delay: $i * 2;
            animation: reveal-text 600ms cubic-bezier(0.645, 0.045, 0.355, 1) unquote("0.#{$delay}s") forwards;
          }
        }
      }
    }
  }

  @keyframes reveal-text {
    100% {
      transform: scale(0, 1)
    }
  }
}
