:root {
  --rhddx-c-creation-tips--BackgroundColor: var(--rhddx-global--Border--grey-light);
}

.rhddx-c-overview-example-panel {
  border: var(--rhddx-global--Border-width-small) solid var(--rhddx-global--Border--grey);
}
.rhddx-c-creation-tips {
  transition: .5s;
  opacity: 0;
  &__box {
    display: block;
    border: var(--rhddx-global--Border-width-small) solid var(--rhddx-global--Border--grey);
    background-color: var(--rhddx-c-creation-tips--BackgroundColor);
    h4 {
      background-color: var(--rhddx-global--Color--white);
      margin-bottom: 0;
      padding-bottom: 16px;
    }
  }
}
.rhddx-m-show {
  opacity: 1;
}
.rhdxx-m-box-shadow {
  box-shadow: var(--rhddx-global--box-shadow);
}
