.rhddx {
  a.pf-c-button.pf-m-primary.rhddx-c-button.rhddx-m-edit[href*="github.com"]:after,
  a.pf-c-button.pf-m-primary.rhddx-c-button.rhddx-m-new[href*="github.com"]:after {
    content: "";
  }
  /*
  ** Add the GitHub icon to any URLs that contain 'github.com', signifying that the user is leaving the site and proceeding to GitHub.
  */
  // a[href*="github.com"]:after {
  //   font-family: "Font Awesome 5 Brands";
  //   font-weight: 400;
  //   content: "\f09b";
  //   margin-left: 4px;
  //   .pf-c-nav__list > .pf-c-nav__item & {
  //     font-family: "Font Awesome 5 Brands";
  //     font-weight: 400;
  //     content: "\f09b";
  //     margin-left: 4px;
  //     position: initial;
  //     background-color: transparent;
  //   }
  // }

  /*
  ** Add the CodePen icon to any URLs that contain 'codepen.io', signifying that the user is leaving the site and proceeding to CodePen.
  */
  // a[href*="codepen.io"]:after {
  //   font-family: "Font Awesome 5 Brands";
  //   font-weight: 400;
  //   content: "\f1cb";
  //   margin-left: 4px;
  //   .pf-c-nav__list > .pf-c-nav__item & {
  //     font-family: "Font Awesome 5 Brands";
  //     font-weight: 400;
  //     content: "\f1cb";
  //     margin-left: 4px;
  //     position: initial;
  //     background-color: transparent;
  //   }
  // }

  /*
  ** Add the Marvel icon to any URLs that contain 'marvel.com'
  */
  a[href*="marvelapp.com"]:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f53f";
    margin-left: 4px;
  }

  /*
  ** Customize text selection/highlight colors
  */
  ::-moz-selection { /* Code for Firefox */
    color: var(--rhddx-global--Color--white);
    background-color: rgba(0, 116, 232, 1);
  }

  ::selection {
    color: var(--rhddx-global--Color--white);
    background-color: rgba(0, 116, 232, 1);
  }

  .highlighter-rouge {
    font-family: Fira Coda, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 4px 8px;
    background-color: var(--rhddx-global--Color--white);
    border: var(--rhddx-global--Border-width) solid var(--rhddx-global--Border--grey-light);
    color: var(--rhddx-global--Color--200);
    border-radius: 3px;
    line-height: 1.5;
    &::-moz-selection { /* Code for Firefox */
      color: var(--rhddx-global--Color--200);
      background-color: #cfe0f3;
    }

    &::selection {
      color: var(--rhddx-global--Color--200);
      background-color: #cfe0f3;
    }
  }
  [class*="language-"].highlighter-rouge {
    background-color: var(--rhddx-global--Color--white);
    border: var(--rhddx-global--Border-width) solid var(--rhddx-global--Border--grey-light);
    color: var(--rhddx-global--Color--200);
  }

  /*
  ** Position 'Copy' toolbar button
  */
  div.code-toolbar > .toolbar {
    position: relative;
    top: -1px;
    right: 0;
    border: var(--rhddx-global--Border-width-small) solid;
    border-color: var(--rhddx-global--Border--grey-light);
    text-align: right;
    opacity: 1;
  }
  pre {
    background-color: var(--rhddx-global--Color--white);
    border: var(--rhddx-global--Border-width-small) solid;
    border-color: var(--rhddx-global--Border--grey-light);
  }
  pre[class*="language-"] {
    margin-bottom: 0;
  }
  div.code-toolbar > .toolbar .toolbar-item {
    button.pf-c-button.pf-m-control {
      padding: 8px 20px;
      background-color: var(--rhddx-global--Color--white);
      border: var(--rhddx-global--Border-width-small) solid;
      border-color: var(--rhddx-global--Border--grey-light);
      border-top: 0;
      border-bottom: var(--rhddx-global--Border-width) solid;
      border-bottom-color: #8a8d90;
      box-shadow: inset -1px 0 0 0 var(--rhddx-global--Border--grey-light),
        inset 0 1px 0 0 var(--rhddx-global--Border--grey-light),
        inset 1px 0 0 0 var(--rhddx-global--Border--grey-light),
        inset 0 -1px 0 0 #8a8d90;
      margin-top: -1px;
      margin-bottom: 0;
      &::before {
        content: "\f0c5";
        font-family: "Font Awesome 5 Free";
        font-weight: 700;
        color: var(--rhddx-global--Color--100);
      }
      &:hover,
      &:active,
      &:focus {
        border-bottom-color: #06c;
      }
      &::after {
        border-color: var(--rhddx-global--Border--grey-light);
      }
      &:hover::after,
      &:active::after,
      &:focus::after {
        border-bottom: 0;
      }
    }
  }
  div.code-toolbar>.toolbar a,
  div.code-toolbar>.toolbar button,
  div.code-toolbar>.toolbar span {
    padding: 0;
    font-size: 16px;
    color: #72767b;
    background: var(--rhddx-global--Color--white);
    box-shadow: none;
    border-radius: 0;
  }

  figure.highlight {
    position: relative;
    margin: 36px 0;
    padding-top: 32px;
    &::-moz-selection { /* Code for Firefox */
      color: var(--rhddx-global--Color--200);
      background-color: #cfe0f3;
    }
    &::selection {
      color: var(--rhddx-global--Color--200);
      background-color: #cfe0f3;
    }
    pre {
      code {
        &[data-lang]::before {
          content: "\f121   "attr(data-lang)""; // extra spaces provide spacing between icon and text
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          text-transform: uppercase;
          position: absolute;
          top: -40px;
          right: 0;
          padding: 8px 20px;
          border: var(--rhddx-global--Border-width) solid;
          border-color: var(--rhddx-global--Border--grey-light);
          border-bottom: 0;
          color: #72767b;
          background-color: var(--rhddx-global--Color--white);
        }
        &[data-lang] {
          &::-moz-selection { /* Code for Firefox */
            color: var(--rhddx-global--Color--200);
            background-color: #cfe0f3;
          }
          &::selection {
            color: var(--rhddx-global--Color--200);
            background-color: #cfe0f3;
          }
        }
      }
    }
  }
  table.highlight {
    tr {
      border-bottom: 0 !important;
    }
  }
  &-c-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #151515; /* If you want dots under the hoverable text */
    &:hover .rhddx-c-tooltip-text {
      visibility: visible;
      opacity: 1;
    }
    .rhddx-c-tooltip-text {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;

      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;

      /* Fade in tooltip */
      opacity: 0;
      transition: opacity 0.3s;
      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
    }
  }
}
