.rhddx-c-card {
  & > * {
    color: #fff;
    text-align: center;
    width: 350px;
  }
  &:hover {
    cursor: pointer;
  }
  .pf-c-card__body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
  }
  &.rhddx-m-developer {
    background-color: rgba(236, 122, 8, 1);
    box-shadow: 0 0 0 10px rgba(236, 122, 8, .4);
    transition-duration: .3s;
    &:hover,
    &.rhddx-m-active {
      box-shadow: 0 0 0 10px rgba(236, 122, 8, 1);
    }
  }
  &.rhddx-m-designer {
    background-color: rgba(0, 185, 228, 1);
    box-shadow: 0 0 0 10px rgba(0, 185, 228, .4);
    transition-duration: .3s;
    &:hover,
    &.rhddx-m-active {
      box-shadow: 0 0 0 10px rgba(0, 185, 228, 1);
    }
  }
  &.rhddx-m-creator {
    background-color: rgba(146, 212, 0, 1);
    box-shadow: 0 0 0 10px rgba(146, 212, 0, .4);
    transition-duration: .3s;
    &:hover,
    &.rhddx-m-active {
      box-shadow: 0 0 0 10px rgba(146, 212, 0, 1);
    }
  }
}
.rhddx-c-card-content {
  opacity: .5;
  border-top: 8px solid rgba(211, 211, 211, 1);
  transition-duration: .3s;
  &:hover {
    opacity: 1;
  }
  button {
    font-size: 28px;
  }
  p {
    font-size: 20px;
    color: #151515;
  }
  &.rhddx-m-active {
    opacity: 1;
  }
  &.rhddx-m-developer {
    &.rhddx-m-active{
      border-top-color: rgba(236, 122, 8, 1);
    }
  }
  &.rhddx-m-designer {
    &.rhddx-m-active {
      border-top-color: rgba(0, 185, 228, 1);
    }
  }
  &.rhddx-m-creator {
    &.rhddx-m-active {
      border-top-color: rgba(146, 212, 0, 1);
    }
  }
}
