.rhddx-c-page__home {
  background-color: transparent;
}
.rhddx-m-homepage {
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
  & > * {
    color: #fff;
  }
  .rhddx-l-card__intro {
    .pf-l-flex__item {
      margin-right: 0;
    }
  }
  .rhddx-m-link-header.rhddx-m-dark {
    color: var(--rhddx-global--Link-color--blue-light);
    &:hover {
      color: darken($color: #73bcf7, $amount: 25%);
      text-decoration: none;
    }
  }
}
