---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <div class="pf-c-page__sidebar">
        <div class="pf-c-page__sidebar-body">
          <nav class="pf-c-nav" id="expandable-vertical-nav">
            {% include sidenavs/components.html component=site.data.components %}
          </nav>
        </div>
      </div>
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid pf-c-content">
            <div class="pf-l-grid__item pf-m-12-col" id="main">
              <h1>{{ page.title }}</h1>
              {% include page-intro.html %}
              {{ content }}
            </div>
            <div class="rhddx-m-float">
              {% if page.title == 'Components Overview' %}
              <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-edit" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/entries/components" title="Edit this page">
                <span class="rhddx-c-button--edit_text">Edit this page</span>
                <span class="fad fa-user-edit rhddx-c-button--edit_icon"></span>
              </a>
              {% endif% }
            </div>
          </div>
        </section>
        {% include footer.html %}
      </main>
    </div>

  </body>

</html>
