---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <div class="pf-c-page__sidebar">
        <div class="pf-c-page__sidebar-body">
          <nav class="pf-c-nav" id="expandable-vertical-nav">
            {% include sidenavs/develop.html component=site.data.develop %}
          </nav>
        </div>
      </div>
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid pf-c-content">
            <div class="pf-l-grid__item pf-m-11-col" id="main">
              <h1>{{ page.title }}</h1>
              {{ content }}
            </div>
            {% if page.editable %}
              <div class="rhddx-m-float">
                {% if page.title == 'Develop Overview' %}
                <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-edit" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/entries/develop" title="Edit this page">
                  <span class="rhddx-c-button--edit_text">Edit this page</span>
                  <span class="fad fa-user-edit rhddx-c-button--edit_icon"></span>
                </a>
                {% endif %}
                <!-- {% else %}
                <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-edit" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/entries/design" title="Edit this page">
                  <span class="rhddx-c-button--edit_text">Edit this page</span>
                  <span class="fad fa-user-edit rhddx-c-button--edit_icon"></span>
                </a> -->
                <!-- <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-new" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/new" title="Add a new page">
                  <span class="rhddx-c-button--new_text">Add a new page</span>
                  <span class="fad fa-plus rhddx-c-button--new_icon"></span>
                </a> -->
              </div>
              {% endif %}
          </div>
        </section>
        {% include footer.html %}
      </main>
    </div>

  </body>

</html>
