---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid">
            <div class="pf-l-grid__item pf-m-12-col pf-m-10-col-on-md">
              <div class="pf-l-grid">
                {{ content }}
              </div>
            </div>
            <div class="pf-l-grid__item pf-u-display-none pf-u-display-block-on-md pf-m-2-col-on-md">
              <div style="border: 1px solid #ddd; padding: 24px;">
                <h3><i class="fal fa-link"></i> Quick Links</h3>
                <ul>
                  <li>
                    <a class="pf-c-button pf-m-link pf-u-pl-0 rhddx-m-link-header" href="https://developer.redhat.com/login" target="top">
                      Drupal login
                      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                      <span class="rhddx-m-link-header__arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                    </a>
                  </li>
                  <li>
                    <a class="pf-c-button pf-m-link pf-u-pl-0 rhddx-m-link-header" href="https://www.github.com/redhat-developer/design-manual" target="top">
                      GitHub repository
                      <span class="pf-c-button__icon"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                      <span class="rhddx-m-link-header__arrow-right"><i class="fas fa-arrow-right" aria-hidden="true"></i></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          {% if page.editable %}
            <div class="rhddx-m-float">
              {% if page.title == 'Overview of RHD Program goals' %}
              <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-edit" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/entries/get-started" title="Edit this page">
                <span class="rhddx-c-button--edit_text">Edit this page</span>
                <span class="fad fa-user-edit rhddx-c-button--edit_icon"></span>
              </a>
              {% endif %}
              <!-- {% else %}
              <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-edit" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/entries/get-started" title="Edit this page">
                <span class="rhddx-c-button--edit_text">Edit this page</span>
                <span class="fad fa-user-edit rhddx-c-button--edit_icon"></span>
              </a> -->
              <!-- <a class="pf-c-button pf-m-primary rhddx-c-button rhddx-m-new" href="https://redhat-developer-design-manual.netlify.app/admin/#/collections/page/new" title="Add a new page">
                <span class="rhddx-c-button--new_text">Add a new page</span>
                <span class="fad fa-plus rhddx-c-button--new_icon"></span>
              </a> -->
            </div>
          {% endif %}
          </div>
        </section>
        {% include footer.html %}
      </main>
    </div>

  </body>

</html>
