---
layout: compress
---

<!DOCTYPE html>
<html class="pf-m-redhat-font" data-current="{{ page.section }}" lang="en-us">

  {% include head.html %}

  <body class="rhddx line-numbers">
    <div class="pf-c-page">
      {% include header.html %}
      <div class="pf-c-page__sidebar">
        <div class="pf-c-page__sidebar-body">
          <nav class="pf-c-nav" id="expandable-vertical-nav">
            {% include sidenavs/create.html component=site.data.create %}
          </nav>
        </div>
      </div>
      <main class="pf-c-page__main" role="main" tab-index="-1">
        <section class="pf-c-page__main-section pf-m-light pf-m-fill">
          <div class="pf-l-grid pf-m-all-12-col pf-u-p-md">
            <div class="pf-l-grid__item pf-m-12-col" id="main">
              <h3><i class="fal fa-book"></i> {{ page.section }}</h3>
            </div>
            <div class="pf-l-grid__item pf-m-12-col-on-md pf-u-p-lg rhddx-c-overview-example-panel">
              <div class="pf-l-flex">
                <div class="pf-l-flex__item">
                  <h4 class="pf-c-title">{{ page.title }}</h4>
                </div>
                <div class="pf-l-flex__item">
                  <!-- <a href="#" class="pf-c-button pf-m-link">View full screen</a> -->
                </div>
                <div class="pf-l-flex__item pf-m-align-right">
                  <button class="pf-c-button pf-m-link" id="show-creation-tips-action">
                    <span class="rhddx-c-creation-tips-link__show">Show creation tips <i class="fas fa-arrow-right"></i></span>
                    <span class="rhddx-c-creation-tips-link__hide pf-u-display-none"><i class="fas fa-arrow-left"></i> Hide creation tips</span>
                  </button>
                </div>
              </div>
              <div class="rhdxx-m-box-shadow pf-u-p-md">
                {{ content }}
              </div>
            </div>
            {% include creation-tips.html %}
          </div>
        </section>
        {% include footer.html %}
      </main>
    </div>

  </body>

</html>
